.App {
  text-align: center;
}
body{
  background-color: lightblue;
}
.form-container{
  
  display: flex;
  
  align-items: center;
  justify-content: center;

  width: 480px;
  height: 650px;
  margin: auto;
   flex-direction: column;
   margin-top: 50px;
   padding: 30px;
   background-color: white;
   box-shadow: 15px 10px 15px black;
   border-radius: 10px;
}
.form{
  display: flex;
  
 
 flex-direction: column;

}
.form label{
text-align:left;
 margin-bottom: 20px;
 font-size: 20px;
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.form input{
 font-size: 20px;
 
}
.btn-submit{
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 15px;
  margin-top: 20px;
  font-size: 20px;
}